@-webkit-keyframes rotate-sacle-sun {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(90deg) scale(1.2);
            transform: rotate(90deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  75% {
    -webkit-transform: rotate(270deg) scale(1.2);
            transform: rotate(270deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes rotate-sacle-sun {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  25% {
    -webkit-transform: rotate(90deg) scale(1.2);
            transform: rotate(90deg) scale(1.2);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
            transform: rotate(180deg) scale(1);
  }
  75% {
    -webkit-transform: rotate(270deg) scale(1.2);
            transform: rotate(270deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@-webkit-keyframes rotate-sun {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate-sun {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes up-down-sun {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes up-down-sun {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5%);
            transform: translateY(5%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.showAside {
  left: 0;
}

.arrowRotate {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.animationSunFace {
  -webkit-animation: up-down-sun 1s linear 2;
          animation: up-down-sun 1s linear 2;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Secular One", sans-serif;
  font-size: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

aside {
  position: absolute;
  top: 0;
  left: -110px;
  background-color: #7ed6df;
  width: 110px;
  height: 100%;
  min-height: 800px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

aside .alphabet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  width: 100%;
  height: 100%;
  padding: 0 5px;
  color: #f6e58d;
  cursor: pointer;
}

aside .alphabet li {
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
  width: 50%;
  font-family: 'Secular One', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: calc(100vh / 12);
}

aside .alphabet li:hover, aside .alphabet li:active {
  color: #f0932b;
  cursor: pointer;
}

aside .arrow {
  position: absolute;
  top: 0;
  left: 110px;
  width: 40px;
  height: 100%;
  background-color: #7ed6df;
  -webkit-box-shadow: 5px 0px 5px -5px #777777, 2px 5px 10px 5px #66363600;
          box-shadow: 5px 0px 5px -5px #777777, 2px 5px 10px 5px #66363600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

aside .arrow::before {
  content: "";
  width: 2px;
  height: 95%;
  background-color: #f6e58d;
}

aside .arrow div {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
  height: 100%;
}

aside .arrow div i {
  color: #f6e58d;
  font-size: 4em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  width: 100%;
  min-width: 1220px;
  height: 100vh;
  min-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  height: 100%;
}

main .score {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .score ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 40%;
  height: 120px;
  margin-top: 40px;
}

main .score ul li {
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .score ul li i {
  font-size: 4em;
  color: #C3CFD9;
}

main .score div:nth-of-type(1) {
  margin-top: 20px;
  font-size: 3em;
  height: 80px;
  width: 100%;
  text-align: center;
  color: #f6e58d;
  line-height: 80px;
  font-style: 'PT Sans', sans-serif;
}

main .score .medal {
  width: 100%;
  min-height: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .score .medal img {
  width: 70%;
  min-width: 280px;
  max-width: 350px;
}

main .board {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main .board .mainImg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .board .mainImg img {
  height: 60%;
}

main .board .solution, main .board .letters {
  width: 100%;
  height: 130px;
}

main .board .solution ul, main .board .letters ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row no-wrap;
          flex-flow: row no-wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

main .board .solution ul li {
  background-color: #BADC58;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  margin: 0 10px;
  color: #EB4D4B;
  border: 3px solid #6AB04C;
  font-size: 5.5em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: 90px;
}

main .board .letters ul li {
  background-color: #EBEBEB;
  height: 80px;
  width: 80px;
  border-radius: 30%;
  border: none;
  margin: 0 20px;
  -webkit-box-shadow: 5px 5px 0px 1px #95AFC0;
          box-shadow: 5px 5px 0px 1px #95AFC0;
  color: rgba(10, 60, 150, 0.8);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  cursor: pointer;
  font-size: 5em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: 80px;
}

main .board .letters ul li:hover {
  background-color: #95AFC0;
  color: rgba(235, 235, 235, 0.8);
  -webkit-box-shadow: 5px 5px 0px 1px #3A336B;
          box-shadow: 5px 5px 0px 1px #3A336B;
  text-shadow: 2px 2px 2px #95AFC0, 0 0 0 #000, 2px 2px 2px #95AFC0;
}

main .board .letters ul li:active {
  -webkit-box-shadow: 0px 0px 0px 0px #3A336B;
          box-shadow: 0px 0px 0px 0px #3A336B;
  text-shadow: 0.5px 0.5px 0.5px #95AFC0, 0 0 0 #000, 0.5px 0.5px 0.5px #95AFC0;
}

main .board div:last-child {
  height: 80px;
  text-align: center;
  font-size: 3em;
  height: 80px;
  width: 100%;
  text-align: center;
  color: #f6e58d;
  line-height: 80px;
  font-style: 'PT Sans', sans-serif;
}

main .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 40px;
}

main .navigation div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 10%;
}

main .navigation div p {
  font-size: 3em;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: 300px;
  font-size: 3em;
  height: 80px;
  width: 100%;
  text-align: center;
  color: #f6e58d;
  line-height: 80px;
  font-style: 'PT Sans', sans-serif;
}

main .navigation div .button {
  cursor: pointer;
  height: 60px;
  width: 60px;
  background-color: #EBEBEB;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 5px 5px 0px 1px #95AFC0;
          box-shadow: 5px 5px 0px 1px #95AFC0;
  color: rgba(224, 86, 253, 0.8);
  text-shadow: 1px 4px 6px #def, 0 0 0 #000, 1px 4px 6px #def;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  line-height: 60px;
}

main .navigation div .button:hover {
  background-color: #95AFC0;
  color: rgba(224, 86, 253, 0.8);
  -webkit-box-shadow: 5px 5px 0px 1px #3A336B;
          box-shadow: 5px 5px 0px 1px #3A336B;
  text-shadow: 2px 2px 2px #95AFC0, 0 0 0 #000, 2px 2px 2px #95AFC0;
}

main .navigation div .button:active {
  -webkit-box-shadow: 0px 0px 0px 0px #3A336B;
          box-shadow: 0px 0px 0px 0px #3A336B;
  text-shadow: 0.5px 0.5px 0.5px #95AFC0, 0 0 0 #000, 0.5px 0.5px 0.5px #95AFC0;
}

main .navigation .sun {
  height: 30%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
}

main .navigation .sun img {
  margin-top: 30px;
  width: 80%;
  max-width: 300px;
  position: absolute;
}

main .navigation .sun img:nth-of-type(2) {
  -webkit-animation: rotate-sun 30s linear infinite;
          animation: rotate-sun 30s linear infinite;
}

main .navigation .sun img:first-child {
  -webkit-animation: rotate-sacle-sun 30s linear infinite;
          animation: rotate-sacle-sun 30s linear infinite;
}

main .navigation .footer {
  font-size: 1rem;
  color: #C3CFD9;
  text-decoration: none;
}

main .navigation .footer a {
  font-size: 1rem;
  color: #C3CFD9;
  text-decoration: none;
}
/*# sourceMappingURL=styles.css.map */