@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
    main
        flex-flow: row wrap
        min-width: 768px
        max-width: 1024px


@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape)
    main
    
        min-width: 768px
        max-width: 1024px
