@import _var

*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-family: $font-letters
    font-size: 10px

ul
    list-style: none
    padding: 0
    margin: 0

aside
    position: absolute
    top: 0
    left: 0
    background-color: #22a6b3

    .alphabet
        display: flex
        justify-content: space-around
        flex-flow: column wrap
        align-items: flex-start
        align-content: stretch
        width: 100px
        height: 100vh

        color: #f6e58d
        li
            flex-basis: calc(100vh / 12)
            width: 50%
            font-family: 'Secular One', sans-serif
            font-st
            text-transform: uppercase
            font-size: 4.0rem
            text-align: center
            line-height: calc(100vh / 12)
        .arrow
            
